.Wiz {
  width: 50vw;
  /* height: 100%; */
  background-color: #E5F4EC;
  position: relative;
}

.wiz_subheader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.wiz_heading {
  font-size: 30px;
  margin: 20px;
  font-weight: 700;
}

.wiz_subheader_button {
  margin: 20px;
  border: none;
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  background-color: #FEC2C2;
}

.wiz_subheader_button:hover {
  cursor: pointer;
}

.wiz_input_container {
  margin: 20px auto;
  width: 70%;
}

.wiz_input_box {
  margin: 10px;
  float: left;
  font-size: 18px;
  font-weight: 700;
}

.wiz_input_box > * {
  margin: 2px;
}

.wiz_input_box > p {
  margin-left: 12px;
}

.wiz_input_box > input {
  border: solid 1px #519872;
  border-radius: 2px;
  height: 25px;
}

.wiz_input_box > input:focus {
  outline: none;
}

.wiz_button {
  margin: 20px;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.wiz_button:hover {
  cursor: pointer;
}

.wiz_step_button {
  background-color: #3B5249;
  color: white;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.wiz_prev_button {
  background-color: #3B5249;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.wiz_complete_button {
  background-color: #8AEA92;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
